*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
}

h1 {
  margin: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.container {
  width: 22rem;
  padding: 2rem;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.display-screen {
  width: 100%;
  height: 100px;
  padding: 0rem;
  font-size: 4rem;
  padding-top: 2rem;
  font-weight: 500;
  outline: none;
  background: #1c1c1c;
  border: none;
  color: #fff;
  text-align: right;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}

.btn {
  min-width: 4.6rem;
  min-height: 4.6rem;
  padding: 1rem;
  margin: 0.27rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: #979797;
}

.btn:active {
  background: #979797;
  transform: translatey(0.15rem);
}

.numbers,
.decimal {
  background: #505050;
  color: #fff;
}

.grey {
  font-weight: 500;
  background: #d4d4d2;
}

.operators {
  background: #ff9500;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.zero {
  grid-column: 1/3;
  border-radius: 5rem;
  text-align: start;
  padding-left: 1.4rem;
}